@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
.container {
    padding-top: 3vh;
    padding-left: 3vh;
    font-family: 'Staatliches', cursive;
    background-color: #0B0C10;
}

.divClass {
    padding: 5vw;
    font-family: 'Staatliches', cursive;
    columns: 2 auto;
}

.link {
    text-decoration: none;
    color: #65FCF0;
}
.fontClassh1 {
    font-weight: 400;
    font-size: 3vw;
    position: relative;
    margin: 4vh;
    margin-left: 12vh;
    margin-bottom: 0.5vh;
    color: #65FCF0;
}

.fontClassh3 {
    background-color: #202833;
    font-weight: 300;
    margin: 3vh;
    font-size: 3vh;
    width: 20vw;
    height: 10vh;
    padding: 2vh;
    border-radius: 4px;
    border: 1px solid rgb(171, 167, 167); 
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);   
}

