@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.navStyle {
    color: white;
    text-decoration: none;
}

.classH3 {
    font-weight: 100;
    font-size: 6vh;
    float: left;
}
