@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
.divClass {
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow:hidden;
    padding: 5vw;
    font-family: "Roboto", sans-serif;
}

.fontClass {
    font-weight: 500;   
}

.fontClassh1 {
    font-weight: 400;
    font-size: 6vw;   
}

.fontClassh3 {
    font-weight: 500;
    margin-left: 3vh; 
}
.heading {
    margin-bottom: 4vh;
    
    background-color: white;
    
}

.unlike {
    float: right;
}

.unlike:hover {
    cursor: cell;
}

.favs {
    background-color: white;
}

.favRow {
    padding: 10px;
    margin: 3vh;
    width: 40vw;
    float: left;
    border-radius: 4px;
    border: 2px solid grey;
}

