@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
.divClass {
    background-color: #0B0C10;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow:hidden;
    padding: 5vw;
    font-family: "Roboto", sans-serif;
}

.fontClass {
    font-weight: 500;
    color: #c5c6c7; 
    margin-bottom: 2vh; 
    font-family: 'Staatliches', cursive;
}

.fontClassh1 {
    font-weight: 400;
    font-size: 6vw; 
    color: #c5c6c7;  
    font-family: 'Staatliches', cursive;
}

.subHeading {
    font-weight: 300;
    margin: 2.5vh;
    font-size: 2.5vh;
    color: rgb(171, 167, 167);
    font-family: "Roboto", sans-serif;
}

.fontClassh3 {
    font-weight: 500;
    margin-left: 3vh; 
}
.heading {
    margin-bottom: 4vh;
    font-family: 'Staatliches', cursive;
}

.unlike {
    float: right;
}

.unlike:hover {
    cursor: cell;
    
}

.favs {
    background-color: white;
}

.favRow {
    background-color: #202833;
    color: #65FCF0;
    padding: 10px;
    margin: 3vh;
    width: 40vw;
    float: left;
    border-radius: 4px;
    border: 2px solid grey;
}

