@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.container {
    background-color: #0B0C10;
    height: 100%;
    padding-top: 3vh;
    padding-left: 3vh;
    font-family: "Roboto", sans-serif;
}


.divClass {
    background-color: white;
    padding: 5vw;
    font-family: "Roboto", sans-serif;
}

.fontClassh1 {
    font-weight: 500;
    font-size: 3.5vw;
    position: relative;
    margin: 3vh;
    margin-bottom: 0.5vh;
    left: 10%;   
}

.button {
    background-color: #202833;
    border-radius: 4px;
    border: 0.16em solid grey;
    color: #65FCF0;
    text-align: center;
    font-size: 25px;
    font-family: 'Staatliches', cursive;
    font-weight: 300;
    width: 11vw;
    height: 10vh;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
    margin-left: 10vw;
    margin-top: 5vh;
    text-decoration: none; 
}

.buttonContainer {
    margin-top: 10vh;   
}

img {
    float: left;
}