@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.container {
    padding-top: 3vh;
    padding-left: 3vh;
    font-family: "Roboto", sans-serif;
}


.divClass {
    background-color: white;
    padding: 5vw;
    font-family: "Roboto", sans-serif;
}

.fontClassh1 {
    font-weight: 500;
    font-size: 3.5vw;
    position: relative;
    margin: 3vh;
    margin-bottom: 0.5vh;
    left: 10%;   
}

.button {
    background-color: white;
    border-radius: 4px;
    border: 0.16em solid red;
    font-family: "Roboto", sans-serif;
    color: red;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    width: 13vw;
    height: 10vh;
    transition: all 0.5s;
    cursor: pointer;
    margin: 8vh;
    margin-left: 20vh; 
    text-decoration: none; 
}

* {
    box-sizing: border-box;
  }