@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
.divClass {
    background-color: #0B0C10;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow:hidden;
    padding: 5vw;
    font-family: "Roboto", sans-serif;
    position: relative;
    margin-bottom: 0.5vh;  
}
.fontClassh1 {
    font-weight: 400;
    font-size: 4vw;
    margin-bottom: 10px;  
    font-family: 'Staatliches', cursive;
    color: #65FCF0; 
}

.fontClassh3 {
    font-weight: 500;
    margin-left: 6vh;
    font-size: 4vh;
    text-decoration: none;
    color: #65FCF0;
}

.inputArtist {
    padding: 10px;
    margin:10px 0;
    border: 2px solid #eee;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    background-color: #202833;
    color: #65FCF0;
}

.button {
    border-radius: 0px;
    background-color: #202833;
    color: #65FCF0;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
}
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}