@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
.heading {
    font-size: 20vh;
    color: white; 
    font-family: 'Roboto', sans-serif; 
    margin: 4vh; 
}

.button {
    border-radius: 0px;
    background-color: red;
    border: 0.16em solid #FFFFFF;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    width: 10vw;
    transition: all 0.5s;
    cursor: pointer;
    margin: 9vh;
    margin-bottom: 1vh; 
    text-decoration: none;
}
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.divClass {
    background-color: red;
    padding: 4%;
    height: 100vh;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;

}

body{
    overflow-x:hidden;
    overflow-y:hidden;
}
   